@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body{
    width: 100%;
    background-color: #2e3840 ;
    margin: 0 auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;  
    gap: 1rem;
    color: #fefefe;
}
a{
    text-decoration: none;
}
.logo{
    color: #fefefe;
}
.dashboard{
    margin: 0 20rem;
    display: flex;
    flex-direction: column;
}
.dashboard-text h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #fefefe;
}
.dashboard-text h3 {
    font-weight:normal;
    font-size: 1rem;
    color: #d4d4d4;
}
.dashboard-text{
    display: flex;
    flex-direction: column;
}
.wallet-button{
    background-color: #4fa3d1;
    color: #fefefe;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dashboard-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dashboard-elements div {
    padding: 2rem;
    border-radius: 1rem;
    border: 0;
    min-width: 400px;
}
.income-container{
    background-color: #9fd1ec;
}
.expanse-container{
    background-color: rgb(255, 126, 126);
}

.dashboard-elements p {
    font-size: 2.5rem;
}


.history{
    margin: 0 20rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-form{
        margin: 0 20rem;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        color: #fefefe;
        gap: 2rem;
}
.input-container input, select{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
}
.submit-button{
    background-color: #4fa3d1;
    color: white;
    border-radius: 0.5rem;
    border: 0;
    padding: 1rem 2rem;
    cursor: pointer;
}
.positive{
    background-color: rgb(142, 245, 142);
}
.negative{
    background-color: rgb(255, 0, 43);
}
.transactions-container{
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}
.thcontainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;   
    width: 100%;
    justify-content: space-between;
}
.thtdcontainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.history-name{
    color: #fefefe;
    font-size: 1.5rem;
}
.history-amount{
    font-size: 2rem;
    color: #fefefe;
    font-weight: bold;
}
.history-date{
    color: #d4d4d4;
}